<phpunit
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/8.3/phpunit.xsd"
         bootstrap="">
<testsuites>
  <testsuite name="JWT Test Suite">
    <directory>tests</directory>
    <file>/Fgsl/Jwt/JwtTest.php</file>
  </testsuite>
</testsuites>  
</phpunit>